<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>삭제</h1>
	<form method="post" action="/removeBoard">
	<input type="hidden" name="bno" value="{{bno}}">
		<div>
			pw : <input type="password" name="pw">
		</div>
		<div>
			<button type="submit">삭제</button>
		</div>
		<a href="boardList">리스트</a>
	</form>
</body>
</html>